<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/lewixlabs/Xamarin-vs-Flutter/tree/master/size_challenge/release%20builds/flutter_ios.ipa</string>
		<key>displayImageURL</key>
		<string>https://github.com/lewixlabs/Xamarin-vs-Flutter/tree/master/size_challenge/release%20builds/57x57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/lewixlabs/Xamarin-vs-Flutter/tree/master/size_challenge/release%20builds/512x512.png</string>
	</dict>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>cloud.llabs.sizeChallenge</key>
		<string>XC iOS Ad Hoc: *</string>
	</dict>
	<key>signingCertificate</key>
	<string>iPhone Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>G8T8XQ7RF6</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
